<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>IMDb Search</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

</head>

<body>
    <div class="page-wrapper bg-img-1 p-t-200 p-b-120">
        <div class="wrapper wrapper--w900">
            <div class="card card-4">
                <div class="card-body">
                    <ul class="tab-list">
                        <li class="tab-list__item active">
                            <a class="tab-list__link" href="#tab1" data-toggle="tab">Exact Match</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            
<table id="example" class="table table-bordered" style="width:100%; background-color: white">
        <thead>
            <tr>
                <th>Title</th>
                <th>Ratings</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Zorita Serrano</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Jennifer Acosta</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Cara Stevens</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Hermione Butler</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Lael Greer</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Jonas Alexander</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Shad Decker</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Michael Bruce</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Donna Snider</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Zorita Serrano</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Jennifer Acosta</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Cara Stevens</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Hermione Butler</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Lael Greer</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Jonas Alexander</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Shad Decker</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Michael Bruce</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Donna Snider</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Zorita Serrano</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Jennifer Acosta</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Cara Stevens</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Hermione Butler</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Lael Greer</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Jonas Alexander</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Shad Decker</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Michael Bruce</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Donna Snider</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Zorita Serrano</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Jennifer Acosta</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Cara Stevens</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Hermione Butler</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Lael Greer</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Jonas Alexander</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Shad Decker</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Michael Bruce</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Donna Snider</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Zorita Serrano</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Jennifer Acosta</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Cara Stevens</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Hermione Butler</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Lael Greer</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Jonas Alexander</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Shad Decker</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Michael Bruce</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Donna Snider</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Zorita Serrano</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Jennifer Acosta</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Cara Stevens</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Hermione Butler</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Lael Greer</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Jonas Alexander</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Shad Decker</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Michael Bruce</td>
                <td>5.0</td>
            </tr>
            <tr>
                <td>Donna Snider</td>
                <td>5.0</td>
            </tr>
        </tbody>
    </table>

                        </div>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="card card-4">
                <div class="card-body">
                    <ul class="tab-list">
                        <li class="tab-list__item active">
                            <a class="tab-list__link" href="#tab1" data-toggle="tab">Recommended by Description</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <form method="POST" action="file:///Users/lawreanangeley/Downloads/mat_kelly/results.html">
                                <div class="input-group input-group-big">
                                    <label class="label">All:</label>
                                    <input class="input--style-1" type="text" name="address" placeholder="Enter Keywords" required="required">
                                    <button class="btn-submit" type="submit"><i class="zmdi zmdi-search input-group-symbol"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="card card-4">
                <div class="card-body">
                    <ul class="tab-list">
                        <li class="tab-list__item active">
                            <a class="tab-list__link" href="#tab1" data-toggle="tab">Recommended by Genre</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <form method="POST" action="file:///Users/lawreanangeley/Downloads/mat_kelly/results.html">
                                <div class="input-group input-group-big">
                                    <label class="label">All:</label>
                                    <input class="input--style-1" type="text" name="address" placeholder="Enter Keywords" required="required">
                                    <button class="btn-submit" type="submit"><i class="zmdi zmdi-search input-group-symbol"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="card card-4">
                <div class="card-body">
                    <ul class="tab-list">
                        <li class="tab-list__item active">
                            <a class="tab-list__link" href="#tab1" data-toggle="tab">Recommended by Producer/Writer</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <form method="POST" action="file:///Users/lawreanangeley/Downloads/mat_kelly/results.html">
                                <div class="input-group input-group-big">
                                    <label class="label">All:</label>
                                    <input class="input--style-1" type="text" name="address" placeholder="Enter Keywords" required="required">
                                    <button class="btn-submit" type="submit"><i class="zmdi zmdi-search input-group-symbol"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;
        </div>
    </div>

    <!-- Main JS-->
    <script src="js/global.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- Vendor JS-->
    <script src="vendor/jquery-validate/jquery.validate.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#example').dataTable({
                "order": [],
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
                "bAutoWidth": false });
        });
    </script>

</body>

</html>
<!-- end document-->
